html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainContent {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 100px; */
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
  padding-top: 30px;
}

.left-item {
  /* margin-right: 50px; */
  margin-right: 10%;
  margin-left: 20%;
}

.right-item {
  margin-left: 0;
  margin-right: auto;
  width: 50%;
}

/* ########### */
/* Yatzy-board */
/* ########### */

.boardContainer,
.board,
.boardBottom {
  width: 85%;
  height: 100%;
}

.boardContainer {
  position: relative;
}

.board {
  background-color: rgb(152, 152, 152);
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); */
  display: flex;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin-left: 0;
}

.boardBottom {
  position: absolute;
  /* background-color: #525252; 
  background-color: rgba(
    61,
    61,
    61,
    0.5
  );  Halvtransparent for å vise basen */
  background: linear-gradient(
    to bottom,
    rgba(40, 40, 40, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  height: 35%;
  border-radius: 13px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  bottom: 0;
  left: 0;
}

.keepText {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* ################### */
/* Bottom dice Styling */
/* ################### */

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25%;
  gap: 25px;
  margin-top: 5%;
}

.diceBottom {
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* ############################### */
/* Code that styles the scoreboard */
/* ############################### */

/* First column*/
td.col1 {
  padding-left: 10px; /* Length from left wall to text */
}

table {
  width: 130%;
  height: 100%;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  table-layout: auto;
}

.col1 {
  width: 30%;
}

th.names,
td.names {
  white-space: nowrap; /* Sikrer at teksten ikke brytes */
  overflow: hidden; /* Skjuler overflødig innhold */
  text-overflow: ellipsis; /* Viser ellipsis (tre prikker) ved overflod */
}

.names {
  width: auto;
  color: gold;
}

.specialCell {
  background-color: #000000;
}

.specialCell td {
  /* Sum (upper), Bonus and total sum */
  background-color: rgb(0, 63, 92);
  /* border-radius: 10px;
  border-color: black; */
}

.scoreData {
  text-align: center;
}

/* Top of table */
table thead {
  background-color: #6f6f6f;
}

table th,
table td {
  border: 2px solid #000000;
  padding: 3px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #3c3c3c;
}
