.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 150px;
  padding-top: 30px;
}

.left-item {
  margin-right: 250px;
}

.die {
  max-height: 50px;
}

img {
  max-height: 200px;
}
