.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 80%;
  width: 100%;
}

.container button {
  font: auto;
  width: clamp(10vw, 25vw, 25vw);
  height: clamp(10vh, 20vh, 30vh);
  font-size: clamp(2.5vw, 2.5vw, 3.2vw);
  font-weight: 600;
  color: whitesmoke;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

/* ######################### */
/* Code JoinExistingGame.jsx */
/* ######################### */

.topText {
  font-family: inherit;
  font-size: clamp(2.5vw, 2.5vw, 3.2vw);
  font-weight: 600;
  margin-bottom: 0px;
}

.inputTextField {
  /* width: clamp(2vw, 40vw, 60vw); */
  width: clamp(0.5vw, 30vw, 60vw);
  height: 20%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding-right: 0;

  text-align: center;
  font-size: clamp(2.5vw, 3.5vw, 3.2vw);
  /* font-size: 4vw; */

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  cursor: text;
  background-color: #1a1a1a;
  border: 1px solid #58b9fa00;
}

.inputTextField:hover {
  border: 1px solid #646cff;
}
.inputTextField:focus,
.inputTextField:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.error-message {
  color: red;
}
