.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--navbar-height);
  max-height: 200px;
  background-color: #3b3b3b; /* Egen bakgrunnsfarge */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  /* Positioning in window */
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  max-height: 70%;
}

button {
  margin-right: 15px;
}

.title {
  font-size: 40px;
  color: rgb(249, 165, 20);
  margin-right: 150px;
  text-shadow:
    1px 1px 2px #000,
    /* Skaper en skyggeeffekt */ -1px -1px 2px #000,
    /* Legger til skygge fra en annen vinkel */ -1px 1px 2px #000; /* Justerer ytterligere for å skape innvendig effekt */
}
