.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--navbar-height);
  max-height: 200px;
  background-color: #3b3b3b; /* Egen bakgrunnsfarge */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* Positioning in window */
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  max-height: 60%;
  /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); */
}

button {
  margin-right: 15px;
}

.title {
  font-size: 30px;
  color: rgb(249, 165, 20);
  margin-right: 150px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
