table {
  width: 120%;
  height: 80%;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Top of table */
table thead {
  background-color: #6f6f6f;
  text-align: center;
}

table th,
table td {
  border: 2px solid #000000;
  padding: 3px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #3c3c3c;
}
